{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          // Initialize Swiper
          var swiper = new Swiper('.home-slider', {
            // Swiper configuration options
          });
        });
    </script>
    <!--Awesome Font Link-->
    <link rel="stylesheet" href="{% static 'v6.4.0/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'v6.4.0/css/sharp-light.css' %}">
    <link rel="stylesheet" href="{% static 'v6.4.0/css/sharp-regular.css' %}">
    <link rel="stylesheet" href="{% static 'v6.4.0/css/sharp-solid.css' %}">

    <!--Custom Style Link-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link
  rel="stylesheet"
  href="{% static 'css/Swiper_10.0.4_swiper-bundle.min.css' %}"
/>

        
    <title>Anime Website</title>
</head>
<body>
    <header>
        <a href="#" class="logo"><i class="fas fa-infinity"></i>Anime.</a>
        <nav class="navbar">
            <a class="active" href="#home">Home</a>
            <a href="/anime/anime">Anime</a>
            <a href="/anime/action">Action</a>
            <a href="/anime/child">Child</a>
            <a href="/anime/family">Family</a>
            <a href="/anime/drama">Drama</a>
            <div class="dropdown">
                <a href="#">Profile</a>
                <div class="dropdown-content">
                    {% if user.is_authenticated %}
                        <a href="logout">Logout</a>
                    {% else %}  
                        <a href="login">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="icons">
            <i class="fas fa-bars" id="menu-bar"></i>
            <i class="fas fa-search" id="search-bar"></i>           
            <a class="fas fa-heart" id="heart-bar"></a>
        </div>
    </header>
    
<!-- Home Section -->
<section class="home" id="home">
    <div class="swiper home-slider">
        <div class="swiper-wrapper">
            {% for anime in animes %}
                <div class="swiper-slide">
                    <div class="box">
                        <div class="content">
                            <div class="image-wrapper">
                                <img src="{% static 'img/Background' %}{{anime.id}}.png" alt="Episode Image">
                            </div>
                            <div class="text-wrapper">
                                <h3>{{ anime.title }}</h3>
                                <p>{{ anime.description }}</p>

                                <ul>
                                    {% with results=search_results|get_item:anime.title %}
                                    {% for result in results %}
                                        <li class="animename" style="color: red; font-size: 1.5rem">{{ result.title }}</li>
                                        <li>{{ result.description }}</li>
                                        <li><img src="{{ result.image_link }}" height="500" width="354" alt="Episode Image"></li>
                                        {% with anime_id=id_results|get_item:anime.title %}
                                            {% for id in anime_id %}
                                                {% if result.id == id %}
                                                    <li>
                                                        
                                                        <a href="anime/stream/{{ result.id }}" class="btn">Watch Now</a>
                                                        
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %} 
                                        <br>
                                    {% endfor %}
                                {% endwith %}
                                
                                
                                
                                
                                
                                
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>







<!--Custom Js File-->
<script src="{% static 'Js/Swiper_10.0.4_swiper-bundle.js'%}" defer data-deferred="1"></script>  <script src="{% static 'Js/main.js' %}" defer data-deferred="1"></script>
</body>
</html>
